{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-dashboard.css' %}">
    <title>Dashboard Empresa</title>
</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <h1 class="greeting">Bem-vindo, @empresa!</h1>
            <a href="{{ previous_url }}" class="btn btn-logout">SAIR</a> </header>

        <nav class="dashboard-actions">
            <a href="{{ add_motorista }}" class="btn btn-action"> <span class="icon">+</span>
                Cadastrar Motorista
            </a>
            <a href="{{ add_linha }}" class="btn btn-action"> <span class="icon">+</span>
                Cadastrar Linha de Onibus
            </a>
            <a href="{{ lista_motorista }}" class="btn btn-action"> <span class="icon">👤</span> Lista de Usuários
            </a>
        </nav>

        <main class="dashboard-main">
            <div class="tab-title">HISTÓRICO VALIDAÇÃO PASSAGENS</div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Passagem</th>
                            <th>Usuário</th>
                            <th>Valor</th>
                            <th>Linha</th>
                            <th>Motorista</th>
                            <th>Data/Hora Validadação</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in historicos %}
                            <tr>
                                <td> {{ item.passagem.idPassagem }} </td>
                                <td>{{ item.passagem.usuario_id }}</td>
                                <td>{{ item.passagem.valor }}</td>
                                <td>{{ item.linha.idLinha }} - {{ item.linha.nomeLinha}} </td>
                                <td>{{ item.funcionario.nome }}</td>
                                <td>{{ item.datahora|date:"d/m/Y - H:i"}}</td>
                                
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">Nenhum registro econtrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>