@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden; /* Impede scroll */
    font-family: "Poppins", sans-serif;
    background: linear-gradient(48deg, rgba(137, 218, 250, 1) 0%, rgba(194, 255, 219, 1) 50%, rgba(255, 232, 232, 1) 100%);

}

/* Container principal */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

    /* Lado esquerdo */
    .left-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;

    }

    .logo-home {
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
    }

    .left-side h1 {
        font-size: 5.5rem;
        margin-bottom: 20px;
        background: none;
    }

    .left-side button {
        padding: 15px 200px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        border: none;
        color: #1a1a1a;
        border-radius: 40px;
        transition: background 0.3s ease;
        background: white;

    }

    .left-side button:hover {
        background-color: #77e2fd;
    }

    /* Lado direito com imagem */
    .right-side {
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    .right-side .imagem img {
        width: 170%;
        height: 100%;
        object-fit: cover; /* Preenche o espaço cortando onde necessário */
        object-position: -400px center; /* Desloca imagem no eixo X para a esquerda */
    }


    /* Responsividade para telas até 768px (celulares e tablets pequenos) */
    @media (max-width: 768px) {

        .container {
            flex-direction: column-reverse; /* Inverte a ordem: imagem em cima */
        }

        .right-side, .left-side {
            width: 100%;
            height: 50vh; /* Ocupam 50% cada */
            flex: none;
        }

        .right-side {
            order: -1; /* Garante que a imagem venha antes visualmente */
        }

        .right-side .imagem img {
            width: 170%;
            height: 100%;
            object-fit: cover;
            object-position: -100px center;
        }

        .left-side {
            padding: 20px;
            justify-content: center;
        }

        .left-side h1 {
            font-size: 1.8rem;
            margin-bottom: 16px;
        }

        .left-side button {
            font-size: 0.95rem;
            padding: 10px 22px;
        }
    }

