{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-pages.css' %}">
    <title>Pix Onibus</title>
</head>
<body>
    <div class="container">
        {% block back-btn %}
        <!-- Header with left and right elements -->
        <header class="site-header">
            <div class="header-left">
                <a href="{{ previous_url }}" class="button-back" aria-label="Go back"><</a>
            </div>
            
            <div class="header-right">
                <img src="{% static 'assets/logo.png' %}" alt="" style="height: 30px;">
                <h3 class="logo-home">OniPix</h3>
            </div>
        </header>
        {% endblock %}
        
        <!-- Center card -->
        <div class="card">
            {% block content %}{% endblock %}
        </div>
        
        {% block middle-btn %}
        <!-- Bottom button -->
        <div class="bottom-center">
            <a href="{{ next_url }}" class="button-next">{% block content-btn %} Próximo {% endblock %}</a>
        </div>
        {% endblock %}
    </div>
</body>
</html>