{% extends 'base_page.html' %}

{% block content %}
<div class="texto-card">
    <h1>Preencha o campo abaixo:</h1>
    <p>Insira seu número de celular continuar.</p>
</div>

<form method="POST" action="{% url 'pagamento' %}">
    {% csrf_token %}
    <input type="hidden" name="quantidade" value="{{ quantidade }}">
    <div class="login-options">      
        <input type="tel" class="login-input"
        name="telefone" id="celular"
        pattern="[0-9]{11}" 
        placeholder="(11) 99999-9999"
        required>
    </div>
    <div class="bottom-center">
        <button type="submit" class="button-next">Próximo</button>
    </div>
</form>

{% block extra_css %}
<style>
    .login-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
    }
    
    .login-input {
        width: 100%;
        padding: 12px 20px;
        border: none;
        border-radius: 50px;
        background-color: #eaeaea;
        font-family: inherit;
        font-size: 16px;
        color: #333;
        margin: 5px 0;
        text-align: center;
    }
    
    .login-input::placeholder {
        color: #666;
    }
    
    .login-input:focus {
        outline: none;
        background-color: #e0e0e0;
    }
    
    .separator {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 15px 0;
        justify-content: center;
    }
    
    .separator span {
        font-weight: bold;
        font-size: 18px;
        color: #333;
        margin: 0 10px;
    }
</style>
{% endblock %}

{% endblock %}