{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-home.css' %}">
    <title>Pix Onibus</title>
</head>
<body {% block bg %}{% endblock %}>

<div class="container">

    <!-- Left side -->
    <div class="left-side">
        <div class="logo-home">
            <h3>OniPix</h3>
        </div>
        <h1>Pagar sua passagem nunca foi tão fácil!</h1>
            <a href="{{ next_url }}" class="button">
                <button>
                    Comprar Agora
                </button>
            </a>
    </div>

    <!-- Right side -->
    <div class="right-side">
        <div class="empresa-button">
            <a class="button" href="{{ empresas }}">
            <button>Empresas</button>
            </a>
        </div>
        <div class="imagem">
            <img src="{% static 'assets/photo1.png' %}" alt="">
        </div>
        
    </div>

</div>

</body>
</html>
