{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-home.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <title>Pix Onibus</title>
</head>
<body {% block bg %}{% endblock %}>

<div class="container">

    <!-- Left side -->
    <div class="left-side" data-aos="fade-right"
     data-aos-offset="100"
     data-aos-duration="1500">
        
        <div class="logo-home"> 
           <img src="{% static 'assets/logo.png' %}" alt="" style="height: 40px;"> 
           <h3>OniPix</h3> 
        </div>
        <h1>Pagar sua passagem nunca foi tão fácil!</h1>
            <a href="{{ next_url }}" class="button">
       
                <button>
                    Comprar Agora
                </button>
            </a>
    </div>

    <!-- Right side -->
    <div class="right-side" data-aos="fade-left"
     data-aos-offset="100"
     data-aos-duration="1500">
        <div class="empresa-button">
            <a class="button" href="{{ empresas }}">
            <button>Empresas</button>
            </a>
        </div>
        <div class="imagem">
            <img src="{% static 'assets/photo1.png' %}" alt="">
        </div>
        
    </div>

</div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>
